In [9]:
import pandas as pd
import requests
from datetime import date
from time import sleep
from pyprojroot import here
from concurrent.futures import ThreadPoolExecutor
import sys
import io
import os

from utils import create_address_list
from census_api import request_address_geocode, request_coordinates_geocode, batch_geocoder
from geocoder import Geocoder

In [11]:
import pandas as pd

# Sample data with tuples for df1
data1 = {
    'coordinates': [(5.4, 3.5), (3.3, 4.4), (6.7, 5.5)],
    'value1': ['A', 'B', 'C']
}
df1 = pd.DataFrame(data1)

# Sample data with tuples for df2
data2 = {
    'coordinates': [(5.4, 3.5), (3.3, 4.4), (7.8, 8.9)],
    'value2': ['X', 'Y', 'Z']
}
df2 = pd.DataFrame(data2)

# Merge dataframes based on 'coordinates'
merged_df = pd.merge(df1, df2, on='coordinates', how='inner')
print(merged_df)

  coordinates value1 value2
0  (5.4, 3.5)      A      X
1  (3.3, 4.4)      B      Y

In [10]:
os.listdir()

['notebook.ipynb',
 '__init__.py',
 '__pycache__',
 'geocoder.py',
 'utils.py',
 'census_api.py']

In [20]:
addresses_list = ['test', '1', '2', '', '3']
addresses_list = [address for address in addresses_list if address]
addresses_list

['test', '1', '2', '3']

In [ ]:
[(,), (5, 5)]

In [37]:
def apply_concatenate_coordinates(row):
    try:
        # strip any whitespace and convert to decimal number
        coordinates = (float(str(row['Latitude']).strip()), float(str(row['Longitude']).strip()))
        return coordinates
    
    except Exception as e:
        # Log the error and the row for debugging purposes
        print(f'Error processing row: {row}. Error: {e}')
        return None

def create_coordinates_list(df):
    coordinate_parts_cols = ['Latitude', 'Longitude']
    coordinates_col = ['Coordinates']
    
    if len(df.columns) == 2:
        df.columns = coordinate_parts_cols
        df.dropna(subset=['Latitude', 'Longitude'], how='any', inplace=True)
        coordinates = df.apply(apply_concatenate_coordinates, axis = 1)
        
    elif not set(coordinate_parts_cols).issubset(set(df.columns)) and not set(coordinates_col).issubset(set(df.columns)):
        raise Exception('The dataframe must have the following columns: [Latitude, Longitude] or [Coordinates]')
    
    elif set(coordinates_col).issubset(set(df.columns)):
        df.dropna(subset=['Coordinates'], how='any', inplace=True)
        coordinates = df['Coordinates']
        
    elif set(coordinate_parts_cols).issubset(set(df.columns)):
        df.dropna(subset=['Latitude', 'Longitude'], how='any', inplace=True)
        coordinates = df.apply(apply_concatenate_coordinates, axis = 1)
        
    coordinates_list = coordinates.drop_duplicates().tolist()
    
    if len(coordinates_list) == 0:
        raise Exception('No coordinates were found in the dataframe. Please check the column names and try again.')
    
    return coordinates_list

test = pd.DataFrame({
    'Latitude': ['1.1', 2, 3, None, 5],
    'Longitude': [1, '   2', 3, None, 5],
})

In [12]:
test = request_address_geocode('156 Front St, Exeter, NH 03833')

In [15]:
next(reversed(test.keys()))

'Latitude'

In [16]:
test[next(reversed(test.keys()))]

42.97886968860952

In [31]:
test = pd.DataFrame({
    'Latitude': ['1.011', 2, 3, None, 5],
    'Longitude': [1, '2', 3, None, 5],
})

In [32]:
test['Coordinates'] = test.apply(apply_concatenate_coordinates, axis=1)

In [33]:
test['Coordinates']

0    (1.011, 1.0)
1      (2.0, 2.0)
2      (3.0, 3.0)
4      (5.0, 5.0)
Name: Coordinates, dtype: object

In [19]:
#

[(1.0, 1.0), (2.0, 2.0), (3.0, 3.0), (nan, nan), (5.0, 5.0)]

In [6]:
print_out = sys.stdout
sys.stdout = io.StringIO()
print('Hello World')

# restore stdout
sys.stdout = print_out
print('Hello World')

Hello World

In [9]:
request_address_geocode('fjikdospafjsdop')

Address fjikdospafjsdop did not match any records.

In [8]:
d

                          Address        Date  Latitude  Longitude
0  156 Front St, Exeter, NH 03833  2023-08-15  42.97887  -70.96139